{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/addrecipe">Lisää resepti</a><br>
<a href="/viewrecipes">Selaa reseptejä</a><br>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
    <p>Tunnus:<br>
        <input type="text" name="username">
    </p>
    <p>Salasana:<br>
        <input type="password" name="password">
    </p>
    <input type="submit" value="Kirjaudu">
</form>
<p>
    <a href="/adduser">Luo uusi käyttäjätunnus</a>
</p>
{% endif %}