<!doctype html>
{% extends "layout.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
{% block title %}{% endblock %}
{% block content %}

    {% if session.username %}
        <div class="row">
            <div class="col-8">
                <p>Olet kirjautunut nimellä {{ session.username }}</p>
                <br>
                {% if session.user_role == "admin" %}
                <p>Olet pääkäyttäjä, nice!</p>
                <a href="/adminview/1">Hallitse käyttäjiä</a><br>
                <a href="/editingredients">Hallitse ainesosia</a><br>
                <a href="/adminview/3">Hallitse yksiköitä</a><br>
                <a href="/adminview/4">Hallitse reseptejä</a><br>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-8">
                <form action="/login" method="POST">
                    <p>Tunnus:<br>
                        <input type="text" name="username">
                    </p>
                    <p>Salasana:<br>
                        <input type="password" name="password">
                    </p>
                    <input type="submit" value="Kirjaudu">
                </form>
                <p>
                    <a href="/adduser">Luo uusi käyttäjätunnus</a>
                </p>
            </div>
        </div>
    {% endif %}

{% endblock %}